
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


header{
    height: 60px;
    background: #5a035e;
    padding: 0 50px;
}

.logo{
    width: 30%;
    float: left;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 35px;
    font-family: sans-serif;
}

nav{
    width: 68%;
    float: right;
}
nav ul{
    list-style: none;
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
}

a
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #069818;
}


a:hover
{
    color: red;
}



body{
  background: #f5ceef;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display:inline-flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap:wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #2303af;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(180, 10, 110);
  clip-path: circle(45%);
  zoom: 2px;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}


footer{
    background: #3c023f;
    color:rgb(252, 245, 245);
    padding: 15px 20px;
    text-align: center;
    padding-top: 15px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");





.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.profile {
  flex-basis: 260px;
}

.profile .profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align:justify;
  color: rgb(92, 5, 66);
  
}

.profile h4 {
  font-size: 16px;
  margin-top: 20px;
  text-align:justify;
  color: rgb(80, 8, 70);
  
}




.pro{
  flex-basis: 260px;
  margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.pro h3{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}
.pro p{
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
  color: rgb(151, 211, 82);
  
}



.mytabs {
  display:flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 30px auto;
  padding: 25px;
}
.mytabs input[type="radio"] {
  display: none;
}
.mytabs label {
  padding: 15px;
  background: #f55e5e;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: rgb(229, 170, 230);
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: rgb(199, 49, 161);
}


@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  
  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}


